.text {
    height: calc(100vh - 100px);
    min-height: 300px;
    overflow-x: hidden;
    perspective: 2px;
    transform-style: preserve-3d;
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transform-style: inherit; 
    transform: translateZ(-1px) scale(1.5);
    height:650px ;
    position: none;
    top: 25%;
    width: 100%;
    padding: 200px 0; 
   background-color: rgba(0, 0, 0, 0.583);

}

p{
    text-align: justify;
}
    

 
